/* Title slide ------------------------------ */
.title {
  font-size: 65px !important;
  text-align: left !important;
  margin-bottom: 30px !important;
  /* padding: 0 20px 0 20px !important; */
}

#title-slide {
  height: 699px !important;
}

.quarto-title-authors {
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
}

.quarto-title-author {
  padding: 0 !important;
  width: 38%;
}

.quarto-title-author-name {
  font-size: 35px !important;
  text-align: left !important;
}

.quarto-title-affiliation {
  font-size: 20px !important;
  text-align: left !important;
}

.subtitle {
  font-size: 35px !important;
  text-align: left !important;
  position: absolute !important;
  bottom:0 !important;
  width: 100% !important;
  text-align: center !important;
  margin: 0 !important;
  /* padding: 0 20px 0 20px !important; */
}

/* Content ------------------------------ */

.source {
  position: absolute !important;
  bottom: 45px !important; /* 35 + 10 (no diapo) */
  padding: 5px !important;
  left: 0 !important;
  color:grey !important;
  font-size: 24px;
}

.info-box {
  margin: 0 !important;
}

figcaption {
  margin-top: 0 !important;
  text-align: center !important;
}

.small {
  font-size: 0.5em;
}

.slide-number {
  font-size: 25px !important;
}


table {
  margin-bottom: 30px !important;
  display:block !important;
}

table caption{
  text-align: left;
  font-size: 1.2em;
}

.logo {
  height: 70px !important;
  margin:0 !important;
  padding:0 !important;
}

.namelogo {
  margin-left: -15px !important;
  color: black !important;
}

.quarto-figure {
  margin-bottom: 0 !important;
}

#arrow {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
